@import '../core';

header {
  margin-bottom: space(6);
  border-bottom: space(0.4) dashed $color-secondary;
  letter-spacing: 0px;

  #main-navigation {
    margin-bottom: space();
    li {
      margin-right: space();
    }
  }
  
}

