@font-face {
  font-family: "share_tech_monoregular";
  src: url("../fonts/ShareTechMono-Regular.ttf") format("ttf"),
    url("../fonts/share-tech-mono-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/share-tech-mono-v10-latin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
