<article>
        <h3>0x02. Contact</h3>
        <div class="attribute">
                <span class="label">e-mail</span>
                <a target="_blank" href="mailto:huber-nicolas@outlook.com">huber-nicolas@outlook.com</a>
        </div>
        <div class="attribute">
                <span class="label">mastodon</span>
                <a rel="me" href="https://fosstodon.org/@nhu">@nhu@fosstodon.org</a>
        </div>
       <div class="attribute">
                <span class="label">github</span>
                <a target="_blank" href="https://github.com/nhu">nhu</a>
        </div>
        <div class="attribute">
                <span class="label">gitlab</span>
                <a target="_blank" href="https://gitlab.com/nhutier">nhutier</a>
        </div>
        <div class="attribute">
                <span class="label">codeberg</span>
                <a target="_blank" href="https://codeberg.org/nhu">nhu</a>
        </div>
</article>
