<div id="id-card" class="box">
    <div id="information">
        <h3 id="full-name"><span>Nicolas Huber</span></h3>
        <h4 id="profession-title"><span>Software Developer &amp; cofe addict</span></h4>
        <div class="avatar only-mobile">
            <img
                src="https://www.libravatar.org/avatar/236dbfe6a760b5370b2066e32e5cface35e09bf8df4addb7cb2d41154d795d20?d=retro&amp;s=256"
                alt="avatar" />
        </div>
        <div class="attribute">
            <span class="label">Aliases</span>
            <ul class="list-inline list-middle-slash">
                <li>nhu</li>
                <li>nhutier</li>
            </ul>
        </div>
        <div class="attribute">
            <span class="label">Topics</span>
            <ul class="list-inline list-middle-slash">
                <li>#floss</li>
                <li>#linux</li>
                <li>#decentralization</li>
                <li>#mechkeyborads</li>
            </ul>
        </div>
        <div class="attribute">
            <span class="label">Location</span>
            <ul class="list-inline list-middle-slash">
                <li>germany</li>
                <li>earth</li>
                <li>sol</li>
            </ul>
        </div>
        <div class="attribute"><span class="label">OpenPGP</span>
            <a target="_blank" 
                href="/files/nicolas.huber@tutanota.com.gpg">
                815CEC5E6A245EFE2312F28971CDC6ACAB927DE0
            </a>
        </div>
        <div class="attribute"><span class="label">Keyoxide</span>
            <a target="_blank"
                rel="follow"
                href="https://keyoxide.org/815CEC5E6A245EFE2312F28971CDC6ACAB927DE0">
                815CEC5E6A245EFE2312F28971CDC6ACAB927DE0
            </a>
        </div>
        <div class="attribute"  style="align-items: flex-end;">
            <span class="label">Years of <br />service</span>
            <span>serving the industry since <span class="special">2007</span></span>
        </div>
    </div>
    <div class="avatar no-mobile">
        <img
            src="https://www.libravatar.org/avatar/236dbfe6a760b5370b2066e32e5cface35e09bf8df4addb7cb2d41154d795d20?d=retro&amp;s=256"
            alt="avatar" />
        </div>
</div>