<article>
  <h3>0x04. Setup</h3>
  <div class="attribute">
    <span class="label">OS</span>
    Linux 6.3 - arch linux
  </div>
  <div class="attribute">
    <span class="label">CPU</span>
    AMD Ryzen 9 7950X
  </div>
  <div class="attribute">
    <span class="label">GPU</span>
    MSI Radeon RX 6600 Mech
  </div>
  <div class="attribute">
    <span class="label">Mainboard</span>
    MSI PRO B650-P
  </div>
  <div class="attribute">
    <span class="label">RAM</span>
    64GB G.Skill Trident Z5 NEO EXPO
  </div>
  <div class="attribute">
    <span class="label">root</span>
    512GB Samsung NVMe SSD 970 EVO Plus
  </div>
  <div class="attribute">
    <span class="label">home</span>
    512GB Samsung SSD 850 EVO
  </div>
  <div class="attribute">
    <span class="label">keyboard[0]</span>
    Kinesis Advantage360 Pro
  </div>
  <div class="attribute">
    <span class="label">keyboard[1]</span>
    Keychron K6 - Gateron Blue - Aluminium - Hot-swappable
  </div>
  <div class="attribute">
    <span class="label">mouse</span>
    ROCCAT Kone Pure
  </div>
  <div class="attribute">
    <span class="label">trackball</span>
    Kensington Orbit Fusion Wireless Trackball
  </div>
  <div class="attribute">
    <span class="label">Headset</span>
    Logitech G433
  </div>
</article>
