<article>
  <h3>0x03. Skills</h3>
  <div class="skills">
    <section class="skill-set">
      <div class="attribute"><span class="label">csharp</span><span class="rating"><span
            class="special">#########</span>#</span>
      </div>
      <div class="attribute"><span class="label">javascript</span><span class="rating"><span
            class="special">#########</span>#</div>
      <div class="attribute"><span class="label">typescript</span><span class="rating"><span
            class="special">#########</span>#</div>
      <div class="attribute"><span class="label">rust</span><span class="rating"><span class="special">###</span>#######
      </div>
      <div class="attribute"><span class="label">tsql</span><span class="rating"><span class="special">###</span>#######
      </div>
    </section>
    <section class="skill-set">
      <div class="attribute"><span class="label">dotnet</span><span class="rating"><span
            class="special">#########</span>#</span>
      </div>
      <div class="attribute"><span class="label">aspnet</span><span class="rating"><span
            class="special">#########</span>#</span>
      </div>
      <div class="attribute"><span class="label">nodejs</span><span class="rating"><span
            class="special">#########</span>#</span>
      </div>
    </section>
    <section class="skill-set">
      <div class="attribute"><span class="label">docker</span><span class="rating"><span
            class="special">####</span>######</span>
      </div>
      <div class="attribute"><span class="label">mssql</span><span class="rating"><span
            class="special">##</span>########</span>
      </div>
      <div class="attribute"><span class="label">postges</span><span class="rating"><span
            class="special">##</span>########</span>
      </div>
      <div class="attribute"><span class="label">rabbitmq</span><span class="rating"><span
            class="special">#######</span>###</span>
      </div>
    </section>
  </div>
</article>
